$main-color: #668fab;
$bg-color: #f4f4f4;
$dark-color: #202226;
$font-color: #585858;
$bg: #2a2b30;

@import '~/assets/styles/nav-icon.scss';

@font-face {
  font-family: "DroidSans";
  src: url("/fonts/droid-sans/DroidSans.ttf");
  font-display: swap;
}

body {
  background-color: $bg-color;
  color: $font-color;
  word-spacing: 1px;
  font-family: "DroidSans", serif, -apple-system, BlinkMacSystemFont, sans-serif;
}

header.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: $bg-color;
  box-shadow: 0 1px 5px 0px #cccccc;

  .w-50 {
    width: 50px;
  }
  #nav-icon {
    top: -50%;
    border: none;
  }
}

#sidebar {
  width: 200px;
  background-color: $bg;
  text-align: center;
  border-right: 1px solid $dark-color;

  .sidebar-top {
    position: relative;

    h1 {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      color: #fff;
      font-size: 20px;
      padding: 10px 0;
      white-space: nowrap;
      background-color: $main-color;
      margin: 0;
    }
  }
  nav.nav-menu {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid $dark-color;
        text-align: left;

        a {
          position: relative;
          display: flex;
          align-items: center;
          color: white;
          text-decoration: underline;
          line-height: 60px;
          padding-left: 40px;
          text-decoration: none;

          svg {
            width: 22px;
            height: 20px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  amp-img { margin: 20% auto 0; }

  .var-highlight{
    color: #C0AD60;
  }

  .string-highlight {
    color: $main-color;
  }

  .comment {
    color: #67994a;
    font-style: italic;
  }

  .link {
    @extend .comment;
    cursor: pointer;
    color: #67994a;
    border-bottom: #67994a 1px dotted;
    &:hover {
      text-decoration: none;
    }
  }

  #typewriter {
    font-size: 1.2em;
    margin-left: 2vw;
    &:after{
        content: "|";
    }
  }

  .type-label {
    position: relative;
    margin: auto;

    a {
      color: $bg-color;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        z-index: 10;
      }
    }
  }
}
