$sidebarWidth: 200px;
$header-mobile-height: 50px;

$main-color: #668fab;
$bg-color: #f4f4f4;
$font-color: #414142;

h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Droid Sans Bold";
}

h2 {
    font-family: "Droid Sans Bold";
    color: $font-color;
}

p {
    font-family: "Droid Sans";
    color: $font-color;
}

@font-face {
    font-family: "Droid Sans";
    src: url('~assets/fonts/droid-sans/DroidSans.eot'); /* IE9 Compat Modes */
    src: url("~assets/fonts/droid-sans/DroidSans.ttf") format("truetype"), /* Safari, Android, iOS */
        url("~assets/fonts/droid-sans/DroidSans.woff") format("woff"), /* Pretty Modern Browsers */
        url("~assets/fonts/droid-sans/DroidSans.woff2") format("woff2"); /* Super Modern Browsers */
}

@font-face {
    font-family: "Droid Sans Bold";
    src: url('~assets/fonts/droid-sans/DroidSans-Bold.eot'); /* IE9 Compat Modes */
    src: url("~assets/fonts/droid-sans/DroidSans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
        url("~assets/fonts/droid-sans/DroidSans-Bold.woff") format("woff"), /* Pretty Modern Browsers */
        url("~assets/fonts/droid-sans/DroidSans-Bold.woff2") format("woff2"); /* Super Modern Browsers */
}
