:root {
  --color-primary: #668fab;
  --color-secondary: #585858;
  --title: #668fab;
  --background: #f4f4f4;
  --mobile-header-background: #b8b8b8;
  --pre-element: #212529;
  --sidebar: #202226;
}

.dark-mode {
  --color-primary: #5e80ac;
  --color-secondary: #b8b8b8;
  --title: #b8b8b8;
  --background: #24292d;
  --mobile-header-background: #1f2428;
  --pre-element: #f4f4f4;
  --sidebar: #1f2428;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: $font-droid-bold;
}

h2 {
  font-family: $font-droid-bold;
  color: var(--color-secondary);
}

p {
  font-family: $font-droid-regular;
  color: var(--color-secondary);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.title-underline {
  font-family: $font-droid-bold;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-bottom: 2px solid var(--color-primary);
  position: relative;
  display: inline-block;
  margin-right: 15px;
  padding-bottom: 2px;
  color: var(--color-secondary);

  &:after {
    content: ":";
    position: absolute;
    right: -10px;
  }
}

.btn-outline-info:not(:disabled):not(.disabled) {
  color: var(--color-primary);
  border-color: var(--color-primary);
  &:hover,
  &:active {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    box-shadow: 0 0 0 0.2rem var(--color-primary);
  }
}

.form-control {
  font-size: initial;
}

body::-webkit-scrollbar {
  width: 14px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--background);
}
body::-webkit-scrollbar-track {
  background: var(--background);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 6px;
  border: 3px solid var(--background);
}

/* Global Page Transition anim */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s ease-in-out;
}
.page-enter,
.page-leave-active {
  opacity: 0.4;
}

@font-face {
  font-family: $font-droid-regular;
  src: url("~assets/fonts/droid-sans/DroidSans.eot"); /* IE9 Compat Modes */
  src: local("sans-serif"),
    url("~assets/fonts/droid-sans/DroidSans.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("~assets/fonts/droid-sans/DroidSans.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("~assets/fonts/droid-sans/DroidSans.woff2")
      format("woff2"); /* Super Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: $font-droid-bold;
  src: url("~assets/fonts/droid-sans/DroidSans-Bold.eot"); /* IE9 Compat Modes */
  src: local("sans-serif"),
    url("~assets/fonts/droid-sans/DroidSans-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("~assets/fonts/droid-sans/DroidSans-Bold.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("~assets/fonts/droid-sans/DroidSans-Bold.woff2") format("woff2"); /* Super Modern Browsers */
  font-display: swap;
}
